@use "../utility/Mixins/Media.scss" as *;

@mixin mount {
  .card {
    width: 250px;
    height: 250px;
    display: block;
    background-color: #000;

    @content;
  }
  .col-3 {
    @include tablet-specific {
      display: none;
    }
  }
}

@include mount;