@use "../_config/global" as *;

@mixin mount {
  @include boilerplate;
}

@mixin boilerplate {
  html {
    font-size: 16px;
  }

  body {
    //https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation (remove the 300ms delay on touchStart [users can't zoom with double tap])
    touch-action: manipulation;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering (this is for pixel perfect design)
    text-rendering: geometricPrecision;
    font-family: $font-fallback;
    line-height: $height-regular;
    font-weight: $weight-regular;
    font-size: $size-regular;
    color: $color-primary;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    color: $color-title;
  }
  
  h1:not(.def) {
    font-size: $size-title;
    font-weight: $weight-title;
  }

  h2:not(.def) {
    font-size: $size-semi-title;
    font-weight: $weight-title;
  }

  p, li, a, span {
    font-weight: $weight-regular;
    font-size: $size-regular;
    line-height: $height-regular;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  a {
    transition: 0.2s ease-in-out;
    
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

@include mount;