@use "../_config/main" as *;

@mixin mount {
  html {
    font-size: 16px;
  }

  body {
    //https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation (remove the 300ms delay on touchStart [users can't zoom with double tap])
    touch-action: manipulation;
  }
  
  .main {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering (this is for pixel perfect design)
    text-rendering: geometricPrecision;
    font-family: $font-fallback;
    line-height: $height-1;
    font-weight: $weight-3;
    font-size: $size-regular;
    color: $black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    color: $color-title;
  }
  
  h1:not(.def) {
    font-size: $size-title;
    font-weight: $weight-5;
  }
  
  p, li, a, span {
    font-weight: $weight-3;
    font-size: $size-regular;
    line-height: $height-text;
  }

  .harvest {
    border: solid thin attr(data-tint px);
    box-shadow: inset 0 0 50px attr(data-tint px);
  }
}

@include mount;