@use "./colors" as *;

@forward './colors';
@forward './grid';

// ----- breakpoints -----
$screen-high-end: 1920px;
$screen-desktop: 1440px;
$screen-tablet: 1024px;
$screen-mobile: 768px;
$screen-mini: 320px;

// ----- padding -----
$padding-sections: 30px;
$padding-block: 10px;

// ----- margin -----
$margin-columns: 10px;
$margin-blocks: 30px;


// ----- font-size -----
$size-regular: 20px;
$size-title: 80px;

// ----- line-height -----
$height-1: 1.1;
$height-text: 1.3;

// ----- letter-spacing -----
$spacing-1: 1;

// ----- font-family -----
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$font-fallback: 'Open Sans', 'Montserrat', 'Calibri', 'Candara', 'Geneva', sans-serif;

// ----- font color -----
$color-primary: $black;
$color-secondary: $white;
$color-hover: #f00;

// ----- font weight -----
$weight-2: 200;
$weight-3: 300;
$weight-4: 400;
$weight-5: 500;
$weight-6: 600;
$weight-7: 700;
$weight-8: 800;
$weight-9: 900;

// ----- theme colors -----
$color-title: $black;

// ----- background -----
$background-primary: $white;
$background-secondary: $black;

// ----- borders -----
$border-regular: 1px solid $black;

// ----- borders-radius -----
$radius: 0;

// ----- transitions -----
$ease-quick: 0.15s all ease-in-out;
$ease-normal: 0.2s all ease-in-out;
$ease-tooltip: 0.2s 55ms all ease-in-out;
