@use "../_config/containers" as *;

@mixin mount {
  .container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
  }

  section,
  .section {
    background-color: $background-primary;
    &:not(.reduce-top):not(.reduce) {
      padding-top: $sections-padding;
    }
    &:not(.reduce-bottom):not(.reduce) {
      padding-bottom: $sections-padding;
    }

    &.secondary {
      background-color: $background-secondary;
    }
  }

  .row {
    margin-left: -#{$container-padding};
    margin-right: -#{$container-padding};
  }
}

@include mount;