@use "../utility/functions" as *;
@use "../_config/flex-basis" as *;
@use "../_config/main" as *;

@mixin mount($selector) {
  @include flex-box(#{$selector});
  
  @if $selector == '' {
    @include flex-basis;
  }
}

@mixin flex-box($selector) {
  @if $selector == '' {
    .flex {
      display: flex;
    }
  }
  
  .flex {
    &.inline#{$selector} {
      display: inline-flex;
    }
    &.wrap#{$selector} {
      flex-wrap: wrap;
    }
    &.row#{$selector} {
      flex-direction: row;
    }
    &.row-reverse#{$selector} {
      flex-direction: row-reverse;
    }
    &.column#{$selector} {
      flex-direction: column;
    }
    &.column-reverse#{$selector} {
      flex-direction: column-reverse;
    }
    &.ai-center#{$selector} {
      align-items: center;
    }
    &.ai-start#{$selector} {
      align-items: flex-start;
    }
    &.ai-end#{$selector} {
      align-items: flex-end;
    }
    &.ai-stretch#{$selector} {
      align-items: stretch;
    }
    &.jc-center#{$selector} {
      justify-content: center;
    }
    &.jc-sb#{$selector} {
      justify-content: space-between;
    }
    &.jc-start#{$selector} {
      justify-content: flex-start;
    }
    &.jc-end#{$selector} {
      justify-content: flex-end;
    }
    &.jc-stretch#{$selector} {
      justify-content: stretch;
    }
    &.center#{$selector} {
      align-items: center;
      justify-content: center;
    }
    &.split#{$selector} {
      align-items: center;
      justify-content: space-between;
    }
  }
  .fill#{$selector} {
    flex: 1;
  }
  .no-shrink#{$selector} {
    flex-shrink: 0;
  }
}

@mixin flex-basis {
  @each $selector, $basis-value in $flex-basis {
    .basis-#{$selector} {
      flex-basis: $basis-value;
    }
  }
}

@include mount('');