@use "../_config/main" as *;

@mixin mount($selector) {
  @include gap(#{$selector});
  @include width($selector);
  @include max-width($selector);
  @include d-none($selector);
  @include sep($selector);
  @include z-index($selector);
  @include position($selector);
  @include pointer-events($selector);
  @include screen-reader($selector);
  @include radius($selector);
  @include cursor;
  @include image;
  @include text;
}

@mixin text {
  .ls-none {
    list-style: none;
  }
  
  .td-none,
  .td-none a {
    text-decoration: none;
  }
  
  .ta-center {
    text-align: center;
  }
  
  .i {
    font-style: italic;
  }
}

@mixin radius($selector) {
  .radius {
    border-radius: $radius;
  }
}

@mixin image {
  img:not(.def) {
    max-width: 100%;
    height: auto;
  }
}

@mixin screen-reader($selector) {
  .sr-only#{$selector} {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .not-sr-only#{$selector} {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

@mixin pointer-events($selector) {
  .pe-none#{$selector} {
    pointer-events: none;
  }

  .pe-auto#{$selector} {
    pointer-events: auto;
  }
}

@mixin cursor {
  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }

  .cursor-not-allowed {
    cursor: not-allowed;
  }
}

@mixin position($selector) {
  .absolute#{$selector} {
    position: absolute;
  }

  .relative#{$selector} {
    position: relative;
  }

  .static#{$selector} {
    position: static;
  }

  .fixed#{$selector} {
    position: fixed;
  }

  .sticky#{$selector} {
    position: sticky;
  }
}

@mixin gap($selector) {
  .gap#{$selector} {
    margin-top: $margin-gap;    
  }
  .gap-small#{$selector} {
    margin-top: $margin-gap-small;
  }

  .gap-large#{$selector} {
    margin-top: $margin-gap-big;
  }

  .gap-xl#{$selector} {
    margin-top: $margin-gap-xl;
  }
}

@mixin z-index($selector) {
  .z-0#{$selector} {
    z-index: 0;
  }
  .z-10#{$selector} {
    z-index: 10;
  }
  .z-20#{$selector} {
    z-index: 20;
  }
  .z-30#{$selector} {
    z-index: 30;
  }
  .z-40#{$selector} {
    z-index: 40;
  }
  .z-50#{$selector} {
    z-index: 50;
  }
  .z-60#{$selector} {
    z-index: 60;
  }
  .z-70#{$selector} {
    z-index: 70;
  }
  .z-80#{$selector} {
    z-index: 80;
  }
  .z-90#{$selector} {
    z-index: 90;
  }
  .z-100#{$selector} {
    z-index: 100;
  }
  .z-auto#{$selector} {
    z-index: auto;
  }
}

@mixin width($selector) {
  .w100#{$selector} {
    width: 100%;
  }
  .w50#{$selector} {
    width: 50%;
  }
  .w33#{$selector} {
    width: calc(100% / 3);
  }
  .w25#{$selector} {
    width: 25;
  }
  .w20#{$selector} {
    width: 20%;
  }
  .w10#{$selector} {
    width: 10%;
  }
}

@mixin max-width($selector) {
  .mw100#{$selector} {
    max-width: 100%;
  }
  .mw50#{$selector} {
    max-width: 50%;
  }
  .mw33#{$selector} {
    max-width: calc(100% / 3);
  }
  .mw25#{$selector} {
    max-width: 25;
  }
  .mw20#{$selector} {
    max-width: 20%;
  }
  .mw10#{$selector} {
    max-width: 10%;
  }
}

//other
@mixin d-none($selector) {
  .d-none#{$selector} {
    display: none;
  }
}

// this is used to give margin between separated elements on smaller devices
@mixin sep($selector) {
  .sep {
    & > *:last-child,
    & > * + * {
      margin-left: $margin-sep;
    }
  }
}

@include mount('');