@use "../config/main.scss" as *;

@mixin mount {
  section.title-text,
  section.white-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title-text {
      .title, .text {
        padding: $padding-text;
      }

      .text {
        * + *:not(li):not(.ignore-rule) {
          margin-top: $margin-text;
        }
      }
    }

    &.ltr {
      .title {
        border-right: $border-section-middle;
      }
    }
    &.rtl {
      .title {
        border-left: $border-section-middle-rtl;
      }

      * {
        color: $white;
      }
    }

    .pane {
      position: relative;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
      padding: $padding-text;

      h3 {
        font-family: $font-primary;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
      }

      &.green {
        background-color: rgba($green, 0.03);

        h3 {
          color: $green;
        }
        &::before {
          background-color: $green;
        }
      }
      &.red {
        background-color: rgba($red, 0.03);

        h3 {
          color: $red;
        }
        &::before {
          background-color: $red;
        }
      }
    }
  }
}