@use "../config/main" as *;

@mixin mount($selector) {
  @if $selector == '' {
    .col-grid {

      .sidebar {
        flex: 0 0 $sidebar-width;
        max-width: $sidebar-width;
        padding-left: $padding-1;
        padding-right: $padding-1;
      }
      .content {
        flex: 0 0 calc(100% - #{$sidebar-width});
        max-width: calc(100% - #{$sidebar-width});
        padding-left: $padding-1;
        padding-right: $padding-1;
      }
    }
  }

  .col-grid {
    .side-padding#{$selector} {
      padding-left: $padding-side;
      padding-right: $padding-side;
    }
    .col-1#{$selector} {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-2#{$selector} {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-3#{$selector} {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
  
      &.rest {
        flex: 0 0 calc(100% - (100% / 3));
        max-width: calc(100% - (100% / 3));
      }
    }
    .col-4#{$selector} {
      flex: 0 0 25%;
      max-width: 25%;
  
      &.rest {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }
    .col-5#{$selector} {
      flex: 0 0 20%;
      max-width: 20%;
  
      &.rest {
        flex: 0 0 80%;
        max-width: 80%;
      }
    }
    .col-6#{$selector} {
      flex: 0 0 calc(100% - (100% / 6));
      max-width: calc(100% - (100% / 6));
    }
  }
}
