@mixin mount($selector) {
  .flex {
    &.inline#{$selector} {
      display: inline-flex;
    }
    &.wrap#{$selector} {
      flex-wrap: wrap;
    }
    &.row#{$selector} {
      flex-direction: row;
    }
    &.row-reverse#{$selector} {
      flex-direction: row-reverse;
    }
    &.column#{$selector} {
      flex-direction: column;
    }
    &.column-reverse#{$selector} {
      flex-direction: column-reverse;
    }
    &.ai-center#{$selector} {
      align-items: center;
    }
    &.ai-start#{$selector} {
      align-items: flex-start;
    }
    &.ai-end#{$selector} {
      align-items: flex-end;
    }
    &.ai-stretch#{$selector} {
      align-items: stretch;
    }
    &.jc-center#{$selector} {
      justify-content: center;
    }
    &.jc-sb#{$selector} {
      justify-content: space-between;
    }
    &.jc-start#{$selector} {
      justify-content: flex-start;
    }
    &.jc-end#{$selector} {
      justify-content: flex-end;
    }
    &.jc-stretch#{$selector} {
      justify-content: stretch;
    }
  }
}

$staccato_object: (
  compatible: (
    'extender',
    'other_note',
  ),
)