@use "../config/main" as *;

@mixin mount($selector) {
  @include gap($selector);
  @include width($selector);
  @include max-width($selector);
  @include d-none($selector);
  @include pad-last($selector);
}

@mixin gap($selector) {
  .gap#{$selector} {
    margin-top: $margin-gap;    
  }
  .gap-small#{$selector} {
    margin-top: $margin-1;
  }

  .gap-large#{$selector} {
    margin-top: $margin-gap-big;
  }

  .gap-xl#{$selector} {
    margin-top: $margin-gap-xl;
  }
}

@mixin width($selector) {
  .w100#{$selector} {
    width: 100%;
  }
  .w50#{$selector} {
    width: 50%;
  }
  .w33#{$selector} {
    width: calc(100% / 3);
  }
  .w25#{$selector} {
    width: 25;
  }
  .w20#{$selector} {
    width: 20%;
  }
  .w10#{$selector} {
    width: 10%;
  }
}

@mixin max-width($selector) {
  .mw100#{$selector} {
    max-width: 100%;
  }
  .mw50#{$selector} {
    max-width: 50%;
  }
  .mw33#{$selector} {
    max-width: calc(100% / 3);
  }
  .mw25#{$selector} {
    max-width: 25;
  }
  .mw20#{$selector} {
    max-width: 20%;
  }
  .mw10#{$selector} {
    max-width: 10%;
  }
}

//other
@mixin d-none($selector) {
  .d-none#{$selector} {
    display: none;
  }
}

// this is used to give margin between separated elements on smaller devices
@mixin pad-last($selector) {
  .pad-last {
    & > *:last-child {
      margin-left: $margin-1;
    }
    &.bigger {
      & > *:last-child {
        margin-left: $margin-1;
      }
    }
  }
}