// ----- grid -----
$container: 1280px;
$container-padding: 20px;
$container-high-end: 70%;

$sidebar-width: 200px; 
$sidebar-padding: 0;

$col-padding: 20px;

// ----- gap -----
$margin-sep: 10px;
$margin-gap-small: 10px;
$margin-gap: 20px;
$margin-gap-big: 35px;
$margin-gap-xl: 50px;