html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: disc;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
* Known issue: no IE 6 support.
*/
[hidden] {
  display: none;
}

/**
* 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
* Address `outline` inconsistency between Chrome and other browsers.
*/
a:focus {
  outline: thin dotted;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}

/**
* 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improve image quality when scaled in IE 7.
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
* Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0;
}

/**
* Correct margin displayed oddly in IE 6/7.
*/
form {
  margin: 0;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct color not being inherited in IE 6/7/8/9.
* 2. Correct text not wrapping in Firefox 3.
* 3. Correct alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
* 1. Correct font size not being inherited in all browsers.
* 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
*    and Chrome.
* 3. Improve appearance and consistency in all browsers.
*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
* Address Firefox 3+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
button,
input {
  line-height: normal;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Remove inner spacing in IE 7 without affecting normal text inputs.
*    Known issue: inner spacing remains in IE 6.
*/
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* 1. Address box sizing set to content-box in IE 8/9.
* 2. Remove excess padding in IE 8/9.
* 3. Remove excess padding in IE 7.
*    Known issue: excess padding remains in IE 6.
*/
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Remove inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* 1. Remove default vertical scrollbar in IE 6/7/8/9.
* 2. Improve readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:not([type=radio]):not([type=checkbox]), textarea, select {
  -webkit-appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
input,
optgroup,
select,
textarea, html input[type=button],
input[type=reset],
input[type=submit], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type=checkbox],
input[type=radio], input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button, input[type=search], input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  padding-inline-start: 25px;
}

a {
  display: block;
}

/* end reset */
html {
  font-size: 16px;
}

body {
  touch-action: manipulation;
}

.main {
  text-rendering: geometricPrecision;
  font-family: "Open Sans", "Montserrat", Calibri, Candara, Geneva, sans-serif;
  line-height: 1.1;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

h1:not(.def) {
  font-size: 80px;
  font-weight: 500;
}

p, li, a, span {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
.container.layout {
  max-width: 1280px;
}

.container-split {
  display: flex;
  align-items: stretch;
}
.container-split .split {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.container-split .split.reverse:first-of-type:not(.right), .container-split .split.reverse > .left {
  padding-right: 20px;
}
.container-split .split.reverse:last-of-type:not(.left), .container-split .split.reverse > .right {
  padding-left: 20px;
}
.container-split .split:not(.reverse):first-of-type:not(.right), .container-split .split:not(.reverse) > .left {
  padding-left: 20px;
}
.container-split .split:not(.reverse):last-of-type:not(.left), .container-split .split:not(.reverse) > .right {
  padding-right: 20px;
}

section,
.section {
  background-color: #fff;
}
section:not(.reduce-top):not(.reduce),
.section:not(.reduce-top):not(.reduce) {
  padding-top: 30px;
}
section:not(.reduce-bottom):not(.reduce),
.section:not(.reduce-bottom):not(.reduce) {
  padding-bottom: 30px;
}
section.secondary,
.section.secondary {
  background-color: #000;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.col-grid .sidebar {
  flex: 0 0 0;
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.col-grid .content {
  flex: 0 0 calc(100% - 0);
  max-width: calc(100% - 0);
  padding-left: 20px;
  padding-right: 20px;
}

.col-grid .side-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.col-grid .col-1 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-grid .col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-grid .col-3 {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
.col-grid .col-3.rest {
  flex: 0 0 calc(100% - (100% / 3));
  max-width: calc(100% - (100% / 3));
}
.col-grid .col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-grid .col-4.rest {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-grid .col-5 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-grid .col-5.rest {
  flex: 0 0 80%;
  max-width: 80%;
}
.col-grid .col-6 {
  flex: 0 0 calc(100% - (100% / 6));
  max-width: calc(100% - (100% / 6));
}

.flex {
  display: flex;
}

.flex.inline {
  display: inline-flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.row {
  flex-direction: row;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.column {
  flex-direction: column;
}
.flex.column-reverse {
  flex-direction: column-reverse;
}
.flex.ai-center {
  align-items: center;
}
.flex.ai-start {
  align-items: flex-start;
}
.flex.ai-end {
  align-items: flex-end;
}
.flex.ai-stretch {
  align-items: stretch;
}
.flex.jc-center {
  justify-content: center;
}
.flex.jc-sb {
  justify-content: space-between;
}
.flex.jc-start {
  justify-content: flex-start;
}
.flex.jc-end {
  justify-content: flex-end;
}
.flex.jc-stretch {
  justify-content: stretch;
}
.flex.exist {
  flex: 1;
}
.flex.center {
  align-items: center;
  justify-content: center;
}
.flex.split {
  align-items: center;
  justify-content: space-between;
}

.gap {
  margin-top: 20px;
}

.gap-small {
  margin-top: 10px;
}

.gap-large {
  margin-top: 35px;
}

.gap-xl {
  margin-top: 50px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w33 {
  width: calc(100% / 3);
}

.w25 {
  width: 25;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.mw100 {
  max-width: 100%;
}

.mw50 {
  max-width: 50%;
}

.mw33 {
  max-width: calc(100% / 3);
}

.mw25 {
  max-width: 25;
}

.mw20 {
  max-width: 20%;
}

.mw10 {
  max-width: 10%;
}

.d-none {
  display: none;
}

.sep > *:last-child, .sep > * + * {
  margin-left: 10px;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-60 {
  z-index: 60;
}

.z-70 {
  z-index: 70;
}

.z-80 {
  z-index: 80;
}

.z-90 {
  z-index: 90;
}

.z-100 {
  z-index: 100;
}

.z-auto {
  z-index: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.pe-none {
  pointer-events: none;
}

.pe-auto {
  pointer-events: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.radius {
  border-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

img:not(.def) {
  max-width: 100%;
  height: auto;
}

.ls-none {
  list-style: none;
}

.td-none,
.td-none a {
  text-decoration: none;
}

.ta-center {
  text-align: center;
}

.i {
  font-style: italic;
}

@media screen and (max-width: 1920px) {
  .col-grid .side-padding-high-end {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-grid .col-1-high-end {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-grid .col-2-high-end {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-grid .col-3-high-end {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  .col-grid .col-3-high-end.rest {
    flex: 0 0 calc(100% - (100% / 3));
    max-width: calc(100% - (100% / 3));
  }
  .col-grid .col-4-high-end {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-grid .col-4-high-end.rest {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-grid .col-5-high-end {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-grid .col-5-high-end.rest {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-grid .col-6-high-end {
    flex: 0 0 calc(100% - (100% / 6));
    max-width: calc(100% - (100% / 6));
  }

  .flex.inline-high-end {
    display: inline-flex;
  }
  .flex.wrap-high-end {
    flex-wrap: wrap;
  }
  .flex.row-high-end {
    flex-direction: row;
  }
  .flex.row-reverse-high-end {
    flex-direction: row-reverse;
  }
  .flex.column-high-end {
    flex-direction: column;
  }
  .flex.column-reverse-high-end {
    flex-direction: column-reverse;
  }
  .flex.ai-center-high-end {
    align-items: center;
  }
  .flex.ai-start-high-end {
    align-items: flex-start;
  }
  .flex.ai-end-high-end {
    align-items: flex-end;
  }
  .flex.ai-stretch-high-end {
    align-items: stretch;
  }
  .flex.jc-center-high-end {
    justify-content: center;
  }
  .flex.jc-sb-high-end {
    justify-content: space-between;
  }
  .flex.jc-start-high-end {
    justify-content: flex-start;
  }
  .flex.jc-end-high-end {
    justify-content: flex-end;
  }
  .flex.jc-stretch-high-end {
    justify-content: stretch;
  }
  .flex.exist-high-end {
    flex: 1;
  }
  .flex.center-high-end {
    align-items: center;
    justify-content: center;
  }
  .flex.split-high-end {
    align-items: center;
    justify-content: space-between;
  }

  .gap-high-end {
    margin-top: 20px;
  }

  .gap-small-high-end {
    margin-top: 10px;
  }

  .gap-large-high-end {
    margin-top: 35px;
  }

  .gap-xl-high-end {
    margin-top: 50px;
  }

  .w100-high-end {
    width: 100%;
  }

  .w50-high-end {
    width: 50%;
  }

  .w33-high-end {
    width: calc(100% / 3);
  }

  .w25-high-end {
    width: 25;
  }

  .w20-high-end {
    width: 20%;
  }

  .w10-high-end {
    width: 10%;
  }

  .mw100-high-end {
    max-width: 100%;
  }

  .mw50-high-end {
    max-width: 50%;
  }

  .mw33-high-end {
    max-width: calc(100% / 3);
  }

  .mw25-high-end {
    max-width: 25;
  }

  .mw20-high-end {
    max-width: 20%;
  }

  .mw10-high-end {
    max-width: 10%;
  }

  .d-none-high-end {
    display: none;
  }

  .sep > *:last-child, .sep > * + * {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .col-grid .side-padding-desktop {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-grid .col-1-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-grid .col-2-desktop {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-grid .col-3-desktop {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  .col-grid .col-3-desktop.rest {
    flex: 0 0 calc(100% - (100% / 3));
    max-width: calc(100% - (100% / 3));
  }
  .col-grid .col-4-desktop {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-grid .col-4-desktop.rest {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-grid .col-5-desktop {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-grid .col-5-desktop.rest {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-grid .col-6-desktop {
    flex: 0 0 calc(100% - (100% / 6));
    max-width: calc(100% - (100% / 6));
  }

  .flex.inline-desktop {
    display: inline-flex;
  }
  .flex.wrap-desktop {
    flex-wrap: wrap;
  }
  .flex.row-desktop {
    flex-direction: row;
  }
  .flex.row-reverse-desktop {
    flex-direction: row-reverse;
  }
  .flex.column-desktop {
    flex-direction: column;
  }
  .flex.column-reverse-desktop {
    flex-direction: column-reverse;
  }
  .flex.ai-center-desktop {
    align-items: center;
  }
  .flex.ai-start-desktop {
    align-items: flex-start;
  }
  .flex.ai-end-desktop {
    align-items: flex-end;
  }
  .flex.ai-stretch-desktop {
    align-items: stretch;
  }
  .flex.jc-center-desktop {
    justify-content: center;
  }
  .flex.jc-sb-desktop {
    justify-content: space-between;
  }
  .flex.jc-start-desktop {
    justify-content: flex-start;
  }
  .flex.jc-end-desktop {
    justify-content: flex-end;
  }
  .flex.jc-stretch-desktop {
    justify-content: stretch;
  }
  .flex.exist-desktop {
    flex: 1;
  }
  .flex.center-desktop {
    align-items: center;
    justify-content: center;
  }
  .flex.split-desktop {
    align-items: center;
    justify-content: space-between;
  }

  .gap-desktop {
    margin-top: 20px;
  }

  .gap-small-desktop {
    margin-top: 10px;
  }

  .gap-large-desktop {
    margin-top: 35px;
  }

  .gap-xl-desktop {
    margin-top: 50px;
  }

  .w100-desktop {
    width: 100%;
  }

  .w50-desktop {
    width: 50%;
  }

  .w33-desktop {
    width: calc(100% / 3);
  }

  .w25-desktop {
    width: 25;
  }

  .w20-desktop {
    width: 20%;
  }

  .w10-desktop {
    width: 10%;
  }

  .mw100-desktop {
    max-width: 100%;
  }

  .mw50-desktop {
    max-width: 50%;
  }

  .mw33-desktop {
    max-width: calc(100% / 3);
  }

  .mw25-desktop {
    max-width: 25;
  }

  .mw20-desktop {
    max-width: 20%;
  }

  .mw10-desktop {
    max-width: 10%;
  }

  .d-none-desktop {
    display: none;
  }

  .sep > *:last-child, .sep > * + * {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .col-grid .side-padding-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-grid .col-1-tablet {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-grid .col-2-tablet {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-grid .col-3-tablet {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  .col-grid .col-3-tablet.rest {
    flex: 0 0 calc(100% - (100% / 3));
    max-width: calc(100% - (100% / 3));
  }
  .col-grid .col-4-tablet {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-grid .col-4-tablet.rest {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-grid .col-5-tablet {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-grid .col-5-tablet.rest {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-grid .col-6-tablet {
    flex: 0 0 calc(100% - (100% / 6));
    max-width: calc(100% - (100% / 6));
  }

  .flex.inline-tablet {
    display: inline-flex;
  }
  .flex.wrap-tablet {
    flex-wrap: wrap;
  }
  .flex.row-tablet {
    flex-direction: row;
  }
  .flex.row-reverse-tablet {
    flex-direction: row-reverse;
  }
  .flex.column-tablet {
    flex-direction: column;
  }
  .flex.column-reverse-tablet {
    flex-direction: column-reverse;
  }
  .flex.ai-center-tablet {
    align-items: center;
  }
  .flex.ai-start-tablet {
    align-items: flex-start;
  }
  .flex.ai-end-tablet {
    align-items: flex-end;
  }
  .flex.ai-stretch-tablet {
    align-items: stretch;
  }
  .flex.jc-center-tablet {
    justify-content: center;
  }
  .flex.jc-sb-tablet {
    justify-content: space-between;
  }
  .flex.jc-start-tablet {
    justify-content: flex-start;
  }
  .flex.jc-end-tablet {
    justify-content: flex-end;
  }
  .flex.jc-stretch-tablet {
    justify-content: stretch;
  }
  .flex.exist-tablet {
    flex: 1;
  }
  .flex.center-tablet {
    align-items: center;
    justify-content: center;
  }
  .flex.split-tablet {
    align-items: center;
    justify-content: space-between;
  }

  .gap-tablet {
    margin-top: 20px;
  }

  .gap-small-tablet {
    margin-top: 10px;
  }

  .gap-large-tablet {
    margin-top: 35px;
  }

  .gap-xl-tablet {
    margin-top: 50px;
  }

  .w100-tablet {
    width: 100%;
  }

  .w50-tablet {
    width: 50%;
  }

  .w33-tablet {
    width: calc(100% / 3);
  }

  .w25-tablet {
    width: 25;
  }

  .w20-tablet {
    width: 20%;
  }

  .w10-tablet {
    width: 10%;
  }

  .mw100-tablet {
    max-width: 100%;
  }

  .mw50-tablet {
    max-width: 50%;
  }

  .mw33-tablet {
    max-width: calc(100% / 3);
  }

  .mw25-tablet {
    max-width: 25;
  }

  .mw20-tablet {
    max-width: 20%;
  }

  .mw10-tablet {
    max-width: 10%;
  }

  .d-none-tablet {
    display: none;
  }

  .sep > *:last-child, .sep > * + * {
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .col-grid .side-padding-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-grid .col-1-mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-grid .col-2-mobile {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-grid .col-3-mobile {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  .col-grid .col-3-mobile.rest {
    flex: 0 0 calc(100% - (100% / 3));
    max-width: calc(100% - (100% / 3));
  }
  .col-grid .col-4-mobile {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-grid .col-4-mobile.rest {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-grid .col-5-mobile {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-grid .col-5-mobile.rest {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-grid .col-6-mobile {
    flex: 0 0 calc(100% - (100% / 6));
    max-width: calc(100% - (100% / 6));
  }

  .flex.inline-mobile {
    display: inline-flex;
  }
  .flex.wrap-mobile {
    flex-wrap: wrap;
  }
  .flex.row-mobile {
    flex-direction: row;
  }
  .flex.row-reverse-mobile {
    flex-direction: row-reverse;
  }
  .flex.column-mobile {
    flex-direction: column;
  }
  .flex.column-reverse-mobile {
    flex-direction: column-reverse;
  }
  .flex.ai-center-mobile {
    align-items: center;
  }
  .flex.ai-start-mobile {
    align-items: flex-start;
  }
  .flex.ai-end-mobile {
    align-items: flex-end;
  }
  .flex.ai-stretch-mobile {
    align-items: stretch;
  }
  .flex.jc-center-mobile {
    justify-content: center;
  }
  .flex.jc-sb-mobile {
    justify-content: space-between;
  }
  .flex.jc-start-mobile {
    justify-content: flex-start;
  }
  .flex.jc-end-mobile {
    justify-content: flex-end;
  }
  .flex.jc-stretch-mobile {
    justify-content: stretch;
  }
  .flex.exist-mobile {
    flex: 1;
  }
  .flex.center-mobile {
    align-items: center;
    justify-content: center;
  }
  .flex.split-mobile {
    align-items: center;
    justify-content: space-between;
  }

  .gap-mobile {
    margin-top: 20px;
  }

  .gap-small-mobile {
    margin-top: 10px;
  }

  .gap-large-mobile {
    margin-top: 35px;
  }

  .gap-xl-mobile {
    margin-top: 50px;
  }

  .w100-mobile {
    width: 100%;
  }

  .w50-mobile {
    width: 50%;
  }

  .w33-mobile {
    width: calc(100% / 3);
  }

  .w25-mobile {
    width: 25;
  }

  .w20-mobile {
    width: 20%;
  }

  .w10-mobile {
    width: 10%;
  }

  .mw100-mobile {
    max-width: 100%;
  }

  .mw50-mobile {
    max-width: 50%;
  }

  .mw33-mobile {
    max-width: calc(100% / 3);
  }

  .mw25-mobile {
    max-width: 25;
  }

  .mw20-mobile {
    max-width: 20%;
  }

  .mw10-mobile {
    max-width: 10%;
  }

  .d-none-mobile {
    display: none;
  }

  .sep > *:last-child, .sep > * + * {
    margin-left: 10px;
  }
}
@media screen and (max-width: 320px) {
  .col-grid .side-padding-mini {
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-grid .col-1-mini {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-grid .col-2-mini {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-grid .col-3-mini {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
  .col-grid .col-3-mini.rest {
    flex: 0 0 calc(100% - (100% / 3));
    max-width: calc(100% - (100% / 3));
  }
  .col-grid .col-4-mini {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-grid .col-4-mini.rest {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-grid .col-5-mini {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-grid .col-5-mini.rest {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-grid .col-6-mini {
    flex: 0 0 calc(100% - (100% / 6));
    max-width: calc(100% - (100% / 6));
  }

  .flex.inline-mini {
    display: inline-flex;
  }
  .flex.wrap-mini {
    flex-wrap: wrap;
  }
  .flex.row-mini {
    flex-direction: row;
  }
  .flex.row-reverse-mini {
    flex-direction: row-reverse;
  }
  .flex.column-mini {
    flex-direction: column;
  }
  .flex.column-reverse-mini {
    flex-direction: column-reverse;
  }
  .flex.ai-center-mini {
    align-items: center;
  }
  .flex.ai-start-mini {
    align-items: flex-start;
  }
  .flex.ai-end-mini {
    align-items: flex-end;
  }
  .flex.ai-stretch-mini {
    align-items: stretch;
  }
  .flex.jc-center-mini {
    justify-content: center;
  }
  .flex.jc-sb-mini {
    justify-content: space-between;
  }
  .flex.jc-start-mini {
    justify-content: flex-start;
  }
  .flex.jc-end-mini {
    justify-content: flex-end;
  }
  .flex.jc-stretch-mini {
    justify-content: stretch;
  }
  .flex.exist-mini {
    flex: 1;
  }
  .flex.center-mini {
    align-items: center;
    justify-content: center;
  }
  .flex.split-mini {
    align-items: center;
    justify-content: space-between;
  }

  .gap-mini {
    margin-top: 20px;
  }

  .gap-small-mini {
    margin-top: 10px;
  }

  .gap-large-mini {
    margin-top: 35px;
  }

  .gap-xl-mini {
    margin-top: 50px;
  }

  .w100-mini {
    width: 100%;
  }

  .w50-mini {
    width: 50%;
  }

  .w33-mini {
    width: calc(100% / 3);
  }

  .w25-mini {
    width: 25;
  }

  .w20-mini {
    width: 20%;
  }

  .w10-mini {
    width: 10%;
  }

  .mw100-mini {
    max-width: 100%;
  }

  .mw50-mini {
    max-width: 50%;
  }

  .mw33-mini {
    max-width: calc(100% / 3);
  }

  .mw25-mini {
    max-width: 25;
  }

  .mw20-mini {
    max-width: 20%;
  }

  .mw10-mini {
    max-width: 10%;
  }

  .d-none-mini {
    display: none;
  }

  .sep > *:last-child, .sep > * + * {
    margin-left: 10px;
  }
}
.demo-section {
  opacity: 0.5;
}
.demo-section .block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=index.css.map */
