/* Error: Undefined variable.
 *   ,
 * 2 |   "-high-end": $screen-high-end,
 *   |                ^^^^^^^^^^^^^^^^
 *   '
 *   src/styles/staccato/config/extends.scss 2:16  @use
 *   src/styles/staccato/notes/Extender.scss 2:1   @use
 *   src/styles/staccato/notes/_export.scss 6:1    @use
 *   src/styles/staccato/main.scss 2:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a   \2577 \a 2 \2502    "-high-end": $screen-high-end,\a   \2502                 ^^^^^^^^^^^^^^^^\a   \2575 \a   src/styles/staccato/config/extends.scss 2:16  @use\a   src/styles/staccato/notes/Extender.scss 2:1   @use\a   src/styles/staccato/notes/_export.scss 6:1    @use\a   src/styles/staccato/main.scss 2:1             root stylesheet';
}
